body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
}

p {
  padding: 0;
  margin: 0;
}

button {
  user-select: none;
}

i {
  user-select: none;
}

h1 {
  margin: 0;
  margin-bottom: 35px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 600px;
  margin: 50px auto;
  margin-top: 30px;
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #016cdd;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  white-space: nowrap;

  transition: background-color 0.4s, color 0.4s, transform 0.4s;
}

.btn:hover {
  background-color: #0064d0;
  /* transform: scale(1.01); */
}

.btn-danger {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 22px;
  height: 22px;
  opacity: 0.5;

  display: flex;
  align-items: center;
  justify-content: center;

  background: transparent;
  border: none;
  color: #ff0000;
  font-size: 35px;
  line-height: 1;
  cursor: pointer;

  transition: all 0.3s;
}

.btn-danger:hover {
  transform: scale(1.15); /* лёгкое увеличение */
  opacity: 1;
}

.btn-secondary {
  color: rgb(255, 255, 255);
  background-color: rgb(205, 113, 0);
}

.btn-secondary:hover {
  background-color: rgb(188, 103, 0);
}

.favorite-card-content {
  max-width: 90%;
}

.quote {
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  max-width: 400px;
  text-align: center;
}

/* .quote::before,
.quote::after {
  content: '"';
} */

.favorites-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorite-card {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #f9f9f9;
  color: black;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 8px;
  width: 250px;
  min-height: 120px;
}

.favorite-card p:first-child {
  font-weight: 600;
}

.favorite-card-author {
  font-style: italic;
  margin-top: 10px;
}

.quote-author {
  margin-top: 10px;
  margin-bottom: 35px;
  font-weight: 400;
  text-align: center;
  opacity: 0.6;
}

/* .quote-author:before {
  content: "— ";
} */

.star-icon {
  font-size: 32px;
  color: yellow;
  vertical-align: middle;
  cursor: pointer;

  transition: transform 0.3s;
}

.star-icon:hover {
  transform: scale(1.04);
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.quote-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 130px;
}

.fa {
  margin-left: 5px;
}

@media (max-width: 400px) {
  .buttons-wrapper {
    flex-direction: column;
  }

  .quote {
    max-width: 350px;
  }
}
